<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="原创 品牌 高效">
  <title>原力推 - 原创号资源一站式合作平台</title>
  <!-- Bootstrap core CSS -->
  <link href="/assets/backcss/bootstrap.min.css" rel="stylesheet">
  <!-- Animation CSS -->
  <link href="/assets/backcss/animate.css" rel="stylesheet">
  <link href="/assets/css/font-awesome.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/assets/backcss/style.css" rel="stylesheet">
</head>

<body id="page-top" class="landing-page no-skin-config">
<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
          <img src="/assets/landing/po-logo.svg" alt="原力推" width="88.64" height="25.79">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll" href="#service">服务</a></li>
          <li><a class="page-scroll" href="#client">客户</a></li>
          <li><a class="page-scroll" href="#contact">联系</a></li>
          <li><a class="page-scroll login" href="#login">登录</a></li>
          <li><a class="page-scroll more" href="#register">注册</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="container">
          <div class="carousel-caption">
            <h1>原创号资源一站式合作平台</h1>
            <p>专注优质原创内容，实现品牌主与自媒体皆大欢喜</p>
            <p><a class="btn btn-lg btn-primary" href="#service" role="button">了解更多</a></p>
          </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back one"></div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption blank">
            <h1>原创号资源一站式合作平台</h1>
            <p>专注优质原创内容，实现品牌主与自媒体皆大欢喜</p>
            <p><a class="btn btn-lg btn-primary" href="#service" role="button">了解更多</a></p>
          </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back two"></div>
      </div>
  </div>
</div>

<section id="service" class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>我们的服务内容</h1>
      <p>从一个品牌走向另一个品牌</p>
    </div>
  </div>

  <div class="row features-block">
    <div class="col-md-4 text-center wow fadeInLeft">
      <i class="fa fa-diamond features-icon"></i>
      <h2>按需求付费</h2>
      <p>数万资源账号参与分享 <br>让品牌实现裂变传播</p>
    </div>
    <div class="col-md-4 text-center wow fadeInLeft">
      <i class="fa fa-bicycle features-icon"></i>
      <h2>按策略定制</h2>
      <p>整合营销，快速帮助你<br>传播品牌美誉度</p>
    </div>
    <div class="col-md-4 text-center wow fadeInLeft">
      <i class="fa fa-signal features-icon"></i>
      <h2>按场景推广</h2>
      <p>专属定制投放策略<br>金牌媒介一对一服务</p>
    </div>
  </div>

  <div class="row features-block">
    <div class="col-lg-6 features-text wow fadeInLeft">
      <small>原力推</small>
      <h2>专注优质原创号的整合</h2>
      <p>优质原创内容账号资源大集合，混乱内容市场的一股清流</p>
      <a href="javascript:;" class="btn btn-primary more">立即体验</a>
    </div>
    <div class="col-lg-6 text-right wow fadeInRight">
      <img src="/assets/landing/service-1.jpg" alt="service" class="img-responsive pull-right">
    </div>
  </div>

  <div class="row features-block">
    <div class="col-lg-6 text-right wow fadeInRight">
      <img src="/assets/landing/service-2.jpg" alt="service" class="img-responsive pull-right">
    </div>
    <div class="col-lg-6 features-text wow fadeInLeft">
      <small>原力推</small>
      <h2>个性化鲜明，重拾创意者荣光</h2>
      <p>高门槛实名拒绝水号与垃圾号，每个入驻账号都个性鲜明</p>
      <a href="javascript:;" class="btn btn-primary more">立即体验</a>
    </div>
  </div>

  <div class="row features-block">
    <div class="col-lg-6 features-text wow fadeInLeft">
      <small>原力推</small>
      <h2>直接连接品牌主与原创博主</h2>
      <p>直接对接供需双方，可选资源更多，沟通更高效</p>
      <a href="javascript:;" class="btn btn-primary more">立即体验</a>
    </div>
    <div class="col-lg-6 text-right wow fadeInRight">
      <img src="/assets/landing/service-3.jpg" alt="service" class="img-responsive pull-right">
    </div>
  </div>

  <div class="row features-block">
    <div class="col-lg-6 text-right wow fadeInRight">
      <img src="/assets/landing/service-4.jpg" alt="service" class="img-responsive pull-right">
    </div>
    <div class="col-lg-6 features-text wow fadeInLeft">
      <small>原力推</small>
      <h2>高效流程化合作，使推广价更低</h2>
      <p>让原创博主的道真正的尊重，再不为修改劳神费力</p>
      <h6>*你知道吗？大多数的合作折损再无效沟通上。因为市场上有了反复扯皮的不专业客户，导致<br>劣币驱逐良币推广费用攀升，良性广告主队不良广告买单。通过规范提升效率，明码标价，<br>
        使得推广费降低。也省去了找寻和对接的时间。</h6>
      <a href="javascript:;" class="btn btn-primary more">立即体验</a>
    </div>
  </div>

  <div class="row features-block">
    <div class="col-lg-6 features-text wow fadeInLeft">
      <small>原力推</small>
      <h2>辐射人群鲜明，投放有的放矢</h2>
      <p>账号辐射人群全面画像一览无余</p>
      <a href="javascript:;" class="btn btn-primary more">立即体验</a>
    </div>
    <div class="col-lg-6 text-right wow fadeInRight">
      <img src="/assets/landing/service-5.jpg" alt="service" class="img-responsive pull-right">
    </div>
  </div>

  <div class="row features-block">
    <div class="col-lg-6 text-right wow fadeInRight">
      <img src="/assets/landing/service-6.jpg" alt="service" class="img-responsive pull-right">
    </div>
    <div class="col-lg-6 features-text wow fadeInLeft">
      <small>原力推</small>
      <h2>傻瓜式模版操作，完成资源对接</h2>
      <p>前期使用模版化匹配和对接，数据建模后进行AI替代<br>
      AE的对接工作。人工智能深度介入，模版勾选轻松上手。</p>
      <a href="javascript:;" class="btn btn-primary more">立即体验</a>
    </div>
  </div>
</section>

<section id="client" class="container">
  <div class="row features-block">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>他们正在使用原力推</h1>
      <p>主流品牌的明智选择</p>
    </div>
  </div>

  <div class="row text-center features-block">
    <div class="col-sm-12">
      <ul class="list-inline client-list">
        <li class="list-inline-item">
          <a href="javascript:;" title="client">
            <img alt="clients" src="/assets/landing/clients.svg" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="contact" class="gray-section">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>码上联系我们</h1>
      <p>打开微信扫描下方二维码</p>
    </div>
  </div>

  <div class="row features-block">
    <div class="col-sm-12 text-center">
      <img alt="contact" src="/assets/landing/qrcode.jpg" width="190" height="190">
    </div>
  </div>

  <div class="row">
    <div class="m-t-lg m-b-lg text-center">
      <p>Copyright &copy; 2018. All rights reserved</p>
    </div>
  </div>
</section>

<!-- Mainly scripts -->
<script src="/assets/backjs/jquery-3.1.1.min.js"></script>
<script src="/assets/backjs/bootstrap.min.js"></script>
<script src="/assets/backjs/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/assets/backjs/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/assets/backjs/inspinia.js"></script>
<script src="/assets/backjs/plugins/wow/wow.min.js"></script>

<script>
  $(document).ready(function () {
    $('body').scrollspy({
      target: '.navbar-fixed-top',
      offset: 80
    });

    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
      var link = $(this);
      $('html, body').stop().animate({
        scrollTop: $(link.attr('href')).offset().top - 50
      }, 500);
      event.preventDefault();
      $("#navbar").collapse('hide');
    });
  });

  var cbpAnimatedHeader = (function() {
    var docElem = document.documentElement,
      header = document.querySelector( '.navbar-default' ),
      didScroll = false,
      changeHeaderOn = 200;
    function init() {
      window.addEventListener( 'scroll', function( event ) {
        if( !didScroll ) {
          didScroll = true;
          setTimeout( scrollPage, 250 );
        }
      }, false );
    }
    function scrollPage() {
      var sy = scrollY();
      if ( sy >= changeHeaderOn ) {
        $(header).addClass('navbar-scroll')
      }
      else {
        $(header).removeClass('navbar-scroll')
      }
      didScroll = false;
    }
    function scrollY() {
      return window.pageYOffset || docElem.scrollTop;
    }
    init();
  })();

  // Activate WOW.js plugin for animation on scrol
  new WOW().init();

  var host = "http://demo.leilongkeji.com"
  $("a.login").attr("href", host + '/login')
  $("a.more").attr("href", host + '/register')
</script>

</body>
</html>