<div id="page-wrapper" class="gray-bg">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <%= render 'password' %>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="pull-right">
      <strong>GonPush.com</strong> &copy; 2018
    </div>
  </div>
</div>


