 <script type="text/javascript">
function smt(){
  var password= $("#password").val();
  var confirmpassword=$("#confirmpassword").val();
  if(password==""){
    alert("请输入新密码");
    return;
  }
   if(confirmpassword==""){
    alert("请输入确认的密码");
    return;
  }
  if(password==confirmpassword){
     $("#frmpassword").submit();
   }
   else{
    alert("两次输入密码不一致");
    return;
   }
}
 </script>
 <!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GonPush.com</title>
  <link href="/assets/backcss/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/font-awesome.css" rel="stylesheet">
  <link href="/assets/backcss/animate.css" rel="stylesheet">
  <link href="/assets/backcss/style.css" rel="stylesheet">
</head>

<body class="gray-bg">
  <div class="passwordBox animated fadeInDown">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox-content">
          <h2 class="font-bold">忘记密码</h2>
          <div class="row">
            <div class="col-lg-12">
              <form class="m-t" role="form" action="marketer_update_password.html">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="+86"> 
                    <span class="input-group-btn"> 
                    <button type="button" class="btn btn-primary">发送验证码</button>
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="请输入验证码">
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">下一步</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        <strong> GonPush.com </strong>
      </div>
      <div class="col-md-6 text-right">
        <small>&copy; 2018</small>
      </div>
    </div>
  </div>
</body>
</html>
