 <script type="text/javascript">
function smt(){
  var password= $("#password").val();
  var confirmpassword=$("#confirmpassword").val();
  if(password==""){
    alert("请输入新密码");
    return;
  }
   if(confirmpassword==""){
    alert("请输入确认的密码");
    return;
  }
  if(password==confirmpassword){
     alert("修改密码成功");
     $("#frmpassword").submit();
   }
   else{
    alert("两次输入密码不一致");
    return;
   }
}
 </script>
 <div id="page-wrapper" class="gray-bg">
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-title">
          <h5>修改密码</h5>
        </div>

        <div class="ibox-content">
            <form method="post" id="frmpassword" action="/savepassword" class="form-horizontal">
                <div class="form-group"><label class="col-sm-2 control-label">请输入新密码 </label>
                  <div class="col-sm-10">
                    <input type="password" name="password" id="password" class="form-control">
                  </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">再次确认输入 </label>
                  <div class="col-sm-10"><input type="password" id="confirmpassword" name="confirmpassword" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                      <button class="btn btn-primary" onclick="smt()" type="button">保存</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
      <div class="footer">
        <div class="pull-right">
          <strong>GonPush.com</strong> &copy; 2018
        </div>
      </div>
    </div>