<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @social_channel.name %>
</p>

<%= link_to 'Edit', edit_social_channel_path(@social_channel) %> |
<%= link_to 'Back', social_channels_path %>
