  <div id="page-wrapper" class="gray-bg">
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-title">
          <h5>报道列表</h5>
        </div>

        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-3">
              <a class="btn btn-sm btn-primary m-t-n-xs" href="creator_add_report.html" role="button">
                <strong>新增</strong>
              </a>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>标题</th>
                <th>来源</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td><a href="javascript:;">如何打造一篇病毒式传播文案</a></td>
                <td>蓝鲸浑水</td>
                <td>
                  <a href="javascript:;">编辑</a>
                  <a href="javascript:;">删除</a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td><a href="javascript:;">如何打造一篇病毒式传播文案</a></td>
                <td>蓝鲸浑水</td>
                <td>
                  <a href="javascript:;">编辑</a>
                  <a href="javascript:;">删除</a>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td><a href="javascript:;">如何打造一篇病毒式传播文案</a></td>
                <td>蓝鲸浑水</td>
                <td>
                  <a href="javascript:;">编辑</a>
                  <a href="javascript:;">删除</a>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td><a href="javascript:;">如何打造一篇病毒式传播文案</a></td>
                <td>蓝鲸浑水</td>
                <td>
                  <a href="javascript:;">编辑</a>
                  <a href="javascript:;">删除</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="pull-right">
          <strong>GonPush.com</strong> &copy; 2018
        </div>
      </div>
    </div>

