<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GonPush.com</title>
  <link href="/assets/backcss/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/font-awesome.css" rel="stylesheet">
  <link href="/assets/backcss/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
  <link href="/assets/backcss/plugins/cropper/cropper.min.css" rel="stylesheet">
  <link href="/assets/backcss/animate.css" rel="stylesheet">
  <link href="/assets/backcss/style.css" rel="stylesheet">
</head>
<body>
 
  <div id="wrapper">
     <%current_user%>
    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
              <div class="dropdown profile-element">
                <span><img alt="image" class="img-circle" src="/uploads/<%=session[:avatar]%>" onerror="this.src='/uploads/default_small.png'"/></span>
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><%=@current_user.username%></strong>
                       </span> <span class="text-muted text-xs block">原创方<b class="caret"></b></span> </span> </a>
                  <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href="/logout">退出登录</a></li>
                  </ul>
              </div>
              <div class="logo-element">
                GO
              </div>
          </li>

          <li class="active">
              <a href="javascript:void(0);">
                <i class="fa fa-th-large"></i>
                <span class="nav-label">需求订单</span>
                <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level">
                <li><a href="/orders?status=0">待处理</a></li>
                <li><a href="/orders?status=1">进行中</a></li>
                <li><a href="/orders?status=2">已完成</a></li>
                <li><a href="/orders?status=4">已关闭</a></li>
              </ul>
          </li>

          <li>
              <a href="/comments">
                <i class="fa fa-th-large"></i>
                <span class="nav-label">评价列表</span>
              </a>
          </li>

          <li>
              <a href="/inviterequired">
                <i class="fa fa-th-large"></i>
                <span class="nav-label">接单设置</span>
              </a>
          </li>

          <li>
              <a href="/services">
                <i class="fa fa-th-large"></i>
                <span class="nav-label">报价设置</span>
              </a>
          </li>

          <li>
              <a href="/creator_metrics">
                <i class="fa fa-th-large"></i>
                <span class="nav-label">账号设置</span>
                <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level">
                <li><a href="/updatepassword">修改密码</a></li>
                <li><a href="/userinfo">基础信息</a></li>
              </ul>
          </li>

          <li>
              <a href="/social_accounts">
                <i class="fa fa-th-large"></i>
                <span class="nav-label">社交账号</span>
                <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level">
                <li><a href="/social_accounts">账号列表</a></li>
                <li><a href="/creator_metrics">粉丝画像</a></li>                    
              </ul>
          </li>

          <li>
            <a href="/reports">
              <i class="fa fa-th-large"></i>
              <span class="nav-label">报道列表</span>
            </a>
          </li>

          <li>
            <a href="/bizcases">
              <i class="fa fa-th-large"></i>
              <span class="nav-label">案例列表</span>
            </a>
          </li>
        </ul>
        </div>
    </nav>
        <%= yield =%>  
  </div>

 <!-- Mainly scripts -->
  <script src="/assets/backjs/jquery-3.1.1.min.js"></script>
  <script src="/assets/backjs/bootstrap.min.js"></script>
  <script src="/assets/backjs/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="/assets/backjs/plugins/slimscroll/jquery.slimscroll.min.js"></script>

  <!-- Custom and plugin javascript -->
  <script src="/assets/backjs/inspinia.js"></script>
<!--   <script src="/assets/backjs/plugins/pace/pace.min.js"></script> -->
    <!-- Tags Input -->
  <script src="/assets/backjs/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
  <!-- Image cropper -->
  <script src="/assets/backjs/plugins/cropper/cropper.min.js"></script>
   <script>
    $(document).ready(function(){
      $('.tagsinput').tagsinput({
        tagClass: 'label label-primary'
      });

  
    })
  </script>
 
</body>
</html>