 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GonPush.com</title>
  <link href="/assets/backcss/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/font-awesome.css" rel="stylesheet">
  <link href="/assets/backcss/animate.css" rel="stylesheet">
  <link href="/assets/backcss/style.css" rel="stylesheet">
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>
              <h1 class="logo-name">GonPush</h1>
            </div>
             <%= yield =%>
            <p class="m-t"> <small>GonPush.com &copy; 2018</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
  <script src="/assets/backjs/jquery-3.1.1.min.js"></script>
  <script src="/assets/backjs/bootstrap.min.js"></script>
    
</body>

</html>